.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,100,1) , rgba(0,0,150,1), rgba(0,0,100,1), rgba(0, 0, 0, 1));
    padding: 5vh;
}

.detailDataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px
}

.detailData{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: rgba(50, 50, 255, 0.8);
    border-radius: 20px;
    height: 40px;
    width: 40vw;
    margin: 0px;
}

.detailDataTypes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: rgba(50, 50, 255, 0.8);
    border-radius: 20px;
    height: 40px;
    width: 40vw;
    margin: 0px;
}

.types{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    color: white;
    width: 100px;
    padding: 5px;
    font-size: 20px;
}

.detailImage{
    height: 335px;
}

#normal{
    background: #828282 ;
}
#grass{
    background: #439937;
}
#fire{
    background: #e5613e;
}
#water{
    background: #309ae2;
}
#electric{
    background: #e0bd28;
}
#rock{
    background: #aaa581;
}
#fighting{
    background: #e5613e;
}
#psychic{
    background: #ea6c8d;
}
#ghost{
    background: #6f4570;
}
#poison{
    background: #9454cc;
}
#flying{
    background: #74abd1;
}
#ground{
    background: #a5733c;
}
#dragon{
    background: #576fbd;
}
#ice{
    background: #47c9c9;
}
#bug{
    background: #a0a028;
}
#steel{
    background: #6badc9;
}
#dark{
    background: #4f4747;
}
#fairy{
    background: #e28de2;
}
#shadow{
    background: #000000;
}
#unknown{
    background: #68a090;
}