
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-image: url("../../images/landing.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.animate__animated {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: 4px;
    color: white;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; /* Agregar esta propiedad */
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.enterButton{
    width: 150px;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 100, 1), rgba(0,0,200,1), rgba(0, 0, 100, 1), rgba(0, 0, 0, 1));
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #3a003f;
    transition: all 0.5s ease;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }
  
  .enterButton:hover{
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
