.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,100,0.7);
  padding: 20px;
  border-radius: 30px;
  text-decoration: none;
  width: 350px;
}

.cardContainer:hover{
  background-color: rgba(75,75,255,0.7);
  transition-duration: .5s;
}

.cardDataContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.cardId{
  font-size: 15px;
  color: #ffffff;
}

.cardName{
  font-size: 25px;
  color: #ffffff;
}

.cardImage{
  width: 200px;
}

.cardTypesContainer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cardType{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  color: #ffffff;
  width: 50px;
  text-align: center;
}

#normal{
  background: #828282 ;
}
#grass{
  background: #439937;
}
#fire{
  background: #e5613e;
}
#water{
  background: #309ae2;
}
#electric{
  background: #e0bd28;
}
#rock{
  background: #aaa581;
}
#fighting{
  background: #e5613e;
}
#psychic{
  background: #ea6c8d;
}
#ghost{
  background: #6f4570;
}
#poison{
  background: #9454cc;
}
#flying{
  background: #74abd1;
}
#ground{
  background: #a5733c;
}
#dragon{
  background: #576fbd;
}
#ice{
  background: #47c9c9;
}
#bug{
  background: #a0a028;
}
#steel{
  background: #6badc9;
}
#dark{
  background: #4f4747;
}
#fairy{
  background: #e28de2;
}
#shadow{
  background: #000000;
}
#unknown{
  background: #68a090;
}