@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"), url("../../fonts/PokemonSolid.ttf") format("truetype");
}

.container{
  display: flex;
  flex-direction: column;
  background: url("../../images/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}


