.homeContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  max-height: screen;
}

.homeOptions{
  position: sticky;
  align-items: center;
  justify-content: center;
  width: 25vw;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,100,1) , rgba(0,0,150,1), rgba(0,0,100,1), rgba(0, 0, 0, 1));
}

.homeView{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  width: 75vw;
  max-height: 90vh;
  gap: 10px;
  overflow-x: hidden;
  background: url("../../images/homeBg.png"), linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,50,1) , rgba(0,0,75,1), rgba(0,0,50,1), rgba(0, 0, 0, 1));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
}

.homeView::-webkit-scrollbar{
  width: 10px;
  background-color: rgba(0,0,50,1);
}

.homeView::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 255);
  border-radius: 5px;
}

.homeCardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px
}