
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,100,1) , rgba(0,0,150,1), rgba(0,0,100,1), rgba(0, 0, 0, 1));
  }

  .animate__animated {
    font-size: 40px;
    margin: 0px;
    color: red;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; /* Agregar esta propiedad */
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.image{
    height: 250px;
    width: 300px;
}