.headerContainer{
    background-color: #400255;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(0,0,0,1);
}

.headerLogo{
    height: 4rem;
    width: 4rem;
}

.headerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNavOptionLink{
    text-decoration: none;
}

.headerNavOption{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
    color: rgb(255,255,255,1);
}

.headerNavOption:hover {
    color: rgba(75,75,255,1);
    transition-duration: .5s;
}


.theme{
    color:rgba(0,0,0,1.0);
    color:rgba(0,0,25,1.0);
    color:rgba(0,0,50,1.0);
    color:rgba(0,0,75,1.0);
    color:rgba(0,0,100,1.0);
    color:rgba(75,75,255,1);
    color:rgba(255,255,255,1.0);
}