.paginatedButton{ 
    cursor: pointer;
    color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    line-height: 1;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 100, 1), rgba(0,0,200,1), rgba(0, 0, 100, 1), rgba(0, 0, 0, 1));
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #3a003f;
    transition: all 0.5s ease;
    margin: 5px
}

.paginatedButton:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.paginatedButton:active{
    background: linear-gradient(to bottom left, rgba(75,75,200,1), rgba(50, 50, 200, 1), rgba(25,25,250,1), rgba(50, 50, 200, 1), rgba(75, 75, 200, 1));
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}

.paginatedButtonActive {
    cursor: pointer;
    color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    line-height: 1;    
    background: linear-gradient(to bottom left, rgba(75,75,200,1), rgba(50, 50, 200, 1), rgba(25,25,250,1), rgba(50, 50, 200, 1), rgba(75, 75, 200, 1));
    background-position: 90% 0;
    background-size: 200% 200%;
    box-shadow: 0 2px 8px -1px #3a003f;
    transition: all 0.5s ease;
    margin: 2px
}