.optionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.optionsIcon{
  width: 150px;
  height: 150px;
}

.optionsSearchBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.optionsSearchBarInput{
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  background-color: rgba(50, 50, 255, 0.8);
  color: #ffffff;
  border: none;
}

.optionsSearchBarInput::placeholder{
  color:rgba(255, 255, 255, 0.829);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.247);
}

.optionsButton{
  width: 250px;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(0, 0, 100, 1), rgba(0,0,200,1), rgba(0, 0, 100, 1), rgba(0, 0, 0, 1));
  background-position: 90% 0;
  background-size: 200% 200%;
  box-shadow: 0 2px 8px -1px #3a003f;
  transition: all 0.5s ease;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.optionsButton:hover{
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.optionsButton:active{
  background: linear-gradient(to bottom left, rgba(75,75,200,1), rgba(50, 50, 200, 1), rgba(25,25,250,1), rgba(50, 50, 200, 1), rgba(75, 75, 200, 1));
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.optionsFilters{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.optionsFiltersSubtitle{
  color: #ffffff;
}

.optionsFiltersSelect{
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  background-color: rgba(50, 50, 255, 0.6);
  color: #ffffff;
  border: none;
}

.optionsFiltersSelectOption{
  background-color: rgba(50, 50, 255, 1);

}